/* Ensure the map fills the entire page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#ifcContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#three-canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#viewer-container > canvas {
    width: 100%;
    height: 100%;
}

#file-input {
    z-index: 1;
    position: absolute;
}